@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Rajaul's Site'</h1>
    <h4 class="btn btn-warning"> Practicing to make  Category Ajax Software</h4>

</div>

